
<nav class="navbar navbar-expand-sm navbar-light fixed-top" id="titlebar">
    <a class="navbar-brand" onclick="get_layout('dashboard')">
        <img src="img/logo.png" id="logo" />
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/">Dashboard</a>
            <!-- <label class="log-explorer-label btn btn-outline-primary"
                   onclick="get_layout('dashboard')">Dashboard</label> -->
        </li>
        <li class="nav-item">
            <a href="/explorer">Explorer</a>
            <!-- <label class="log-explorer-label btn btn-outline-info"
                   onclick="get_layout('log-explorer')">Explorer</label> -->
        </li>
        <li class="nav-item">
            <a href="/charts">Charts</a>
        </li>
    </ul>
</nav>
